/* App.css */
.app-container {
  position: relative; /* Ensure relative positioning */
}

.content-container {
  position: relative; /* Ensure relative positioning */
}

.main-section {
  width: 100%; /* Set width to 100% */
  overflow: hidden; /* Hide overflow */
  height: 800px;
  position: relative; /* Ensure relative positioning */
}

.main-section img {
  width: 100%; /* Set image width to 100% */
  display: block; /* Ensure the image is a block element */
  margin: 0 auto; /* Center the image horizontally */
  opacity: 0.8; /* Set image opacity to 80% */
}


